<mat-dialog-content  class="custom-dialog-content">
  <h2>Lisa leiukoht kaardile:</h2>
  <mat-form-field>
    <input matInput placeholder="Leitud seened" [(ngModel)]="type" />
  </mat-form-field>
  <mat-form-field>
    <textarea
      matInput
      placeholder="Leiukoha kirjeldus"
      [(ngModel)]="description"
    ></textarea>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-fab extended color="warn" (click)="onCancel()">Tühista</button>
  <button mat-fab extended color="primary" (click)="onSave()">Salvesta</button>
</mat-dialog-actions>
